################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MazeGame/.vs/MazeGame/v16/Browse.VC.opendb
